
<section id="friends-list">
    <div id="friends-logo">
        <h3>My Friends</h3>
    </div>
    <hr>

    <div id="friends-logo">
        <h3>Users</h3>
    </div>
    <% for(list of users) { %>
        <% if(locals.user.id != list.id) { %>
            <div class="friends" id="user-<%=list._id %>">
                <div id="friends-img-box">
                    <div id="friends-img">
                        <img src="<%= list.avatar %>"  alt="<%= list.first %>">
                        <div id="status"></div>
                    </div>
                    <p><a href="/home/profile/<%= list.id %>"><%= list.first + ' ' + list.last %></a></p>
                </div>
                <div id="add-box">
                    <a href="/add/add_toggle/?id=<%=list.id%>">
                        <span>Add</span>
                    </a>
                </div>
            </div>
        <% } %>

    <% } %>
</section>

