<div class="comment" id="comment-<%= comment.id %>">
    <div id="cmnt-img">

        <% if(comment.user.avatar) { %>
            <img src="<%=comment.user.avatar %>" alt="<%= comment.user.first %>">
        <% } else { %> 
            <img src="https://www.oseyo.co.uk/wp-content/uploads/2020/05/empty-profile-picture-png-2-281x300.png" alt="<%= comment.user.first %>">
        <% } %>   
    </div>
    <div id="inner-comment">
        <div id="comment-and-del-box">
            <div>
                <h3><%= comment.user.first + ' ' + comment.user.last %></h3>
            </div>
            <% if(locals.user.id == post.user.id || locals.user.id == comment.user.id) { %>
                <div><span><a class="del-cmnt" href="/comment/destroy/<%=comment.id%>">x</a></span></div>
            <% } %>
        </div>
        <p><%= comment.content %></p>
    </div>
</div>     