<header>
    <div id="logo-and-search">
        <div id="logo">
            <a href="/">
                <img width="45" src="/icons/fb1.png" alt="fb-logo">
            </a>    
        </div>
        <div id="search-box">
            <% if(locals.user){ %>
                <form action="/" method="get">
                    <button type="submit"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
                    <input type="search" placeholder="Search Facebook">
                    
                </form>
            <% } %>    

        </div>
    </div>
    <% if(locals.user){ %>
        <div id="home">
            <div id="inner-home">
                <a href="/home" class="a-tag" data-value="true" >
                    <div class="home-icons" >
                    <img class="img" src="/icons/home.png" width="25">
                    </div>
                </a>
                <a class="a-tag" data-value="false">
                    <div class="home-icons" >
                        <img class="img"  src="/icons/watchs.png" width="25">
                    
                    </div>
                </a>  
                <a class="a-tag" data-value="false"> 
                    <div class="home-icons"  >
                        <img class="img" src="/icons/market.png" width="25">
                    </div>
                </a>
                <a class="a-tag" data-value="false">
                    <div class="home-icons" >
                        <img class="img" src="/icons/people.png" width="25">
                    </div>
                </a>
                <a class="a-tag" data-value="false">
                    <div class="home-icons" >
                        <img class="img"  src="/icons/rubik.png" width="30">
                    </div>
                </a>
            </div>

        </div>
    <% }  %>    
    <div id="user">
        <% if(locals.user){ %>
            <div class="text">
                <a id="messenger">
                    <i class="fa-brands fa-facebook-messenger"></i>
                </a>
                <div id="msg-box">
                    <% if(locals.user.friends.length > 0) { %>
                        <% for(frnds of locals.user.friends){ %>
                            <% for(list of users){ %>
                                <% if(frnds == list.id) { %>
                                    <div class="friends" id="user-<%=list._id %>">
                                        <div id="friends-img-box">
                                            <div id="friends-img">
                                                <img src="<%= list.avatar %>"  alt="">
                                            </div>
                                            <div id="friends-name">
                                                <p><%=list.first + ' ' + list.last %></p>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>   
                            <% } %>
                        <% } %>
                    <% } else { %>
                        <h3 style="text-align:center ; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">No Freinds...</h3>
                    <% }  %> 

                    
                </div>
            </div>
            <div class="text">
                <a href="#">
                    <i class="fa-solid fa-bell"></i>
                </a>    
            </div>
            <div class="text">
                <a href="/home/profile/<%= user.id %>">
                    <img src="<%=user.avatar%>" alt="<%=user.first%>">
                </a>
            </div>
            <div id="info">
                <form action="/destroy" method="post">
                    <input type="submit" value="Log out">
                </form>
            </div>
        <% } else { %>
            <div id="info1">
                <p><a href="/">Log in </a></p>
            </div>
            <div id="info2">
                <p><a href="/signup">Sign up </a></p>
            </div>
        <% } %>
    </div>
</header>
<script src="/js/_header.js"></script>