

<header>
    <div id="logo-and-search">
        <div id="logo">
            <a href="/">
                <img width="45" src="/icons/facebook.png" alt="fb-logo">
            </a>    
        </div>
        <div id="search-box">
            <% if(locals.user){ %>
                <form action="/" method="get">
                    <button type="submit"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
                    <input type="search" placeholder="Search Facebook">
                    
                </form>
            <% } %>    

        </div>
    </div>
    <% if(locals.user){ %>
        <div id="home">
            <div id="inner-home">
                <a href="/home" class="a-tag" >
                    <div class="home-icons" id="1" data-value='false' style="border-bottom:4px solid #1877F2">
                    <img class="img" id="1" data-value='false' src="/icons/home.png" width="25">
                    </div>
                </a>
                <a class="a-tag" >
                    <div class="home-icons" id="2" data-value="false">
                        <img class="img" id="2" data-value="false" src="/icons/watchs.png" width="25">
                    
                    </div>
                </a>  
                <a class="a-tag" > 
                    <div class="home-icons" id="3" data-value="false">
                        <img class="img" id="3" data-value="false" src="/icons/market.png" width="25">
                    </div>
                </a>
                <a class="a-tag" >
                    <div class="home-icons" id="4" data-value="false">
                        <img class="img" id="4" data-value="false" src="/icons/people.png" width="25">
                    </div>
                </a>
                <a class="a-tag" >
                    <div class="home-icons" id="5" data-value="5">
                        <img class="img" id="5" data-value="5" data-value="5" src="/icons/rubik.png" width="30">
                    </div>
                </a>
            </div>

        </div>
    <% }  %>    
    <div id="user">
        <% if(locals.user){ %>
            <div class="text">
                <a href="#">
                    <i class="fa-brands fa-facebook-messenger"></i>
                </a>
            </div>
            <div class="text">
                <a href="#">
                    <i class="fa-solid fa-bell"></i>
                </a>    
            </div>
            <div class="text">
                <a href="/home/profile/<%= user.id %>">
                    <img src="<%=user.avatar%>" alt="<%=user.first%>">
                    <!-- <% if(user.avatar) { %>
                        <img src="<%=user.avatar%>" alt="<%=user.first%>">
                    <% } else { %>  
                        <img src="https://www.oseyo.co.uk/wp-content/uploads/2020/05/empty-profile-picture-png-2-281x300.png" alt="<%= user.first %>">
                    <% } %>     -->

                </a>
            </div>
            <div id="info">
                <form action="/destroy" method="post">
                    <input type="submit" value="Log out">
                </form>
            </div>
        <% } else { %>

            <div id="info1">
                
                <p><a href="/">Log in </a></p>
            </div>
            <div id="info2">
                <p><a href="/signup">Sign up </a></p>
            </div>

        <% } %>
    </div>
</header>
<script src="/js/_header.js"></script>