<div id="posts">
    <div id="name-and-del-box">
        <div>
            <h1><%= post.user.first + ' ' + post.user.last %> <small>posted a status </small></h1>
        </div>
        <% if(locals.user.id == post.user.id) { %>
            <div><span><a href="/post/destroy/<%=post.id%>">x</a></span></div>
        <% } %>
        
    </div>
    <div id="post-content">
        <p><%= post.content %></p>
    </div>
    <div id="comment-box">
        <div id="comment-scroller">
            <% for(comment of post.comment) { %>
                <%- include('_comment') -%>      
            <% } %> 
        </div>
       
            <form action="/comment/create" method="post">
                <textarea type="text" name="content" placeholder="Write a comment..." required cols="40" rows="1"></textarea>
                <input type="hidden" name="post" value="<%=post._id %>"> 
                <input type="submit" value="Comment" id="comment-btn">
            </form>
       
    </div>
</div>