<div id="chat-box">
    <div id="chat-header">
        <div id="user-box">
            <div id="user-img">
                <img src="<%= user.avatar %>">
            </div>
            <div id="user-name">
                <p><%= user.first %> <%= user.last %></p>
            </div>
        </div>
        <div id="cross-box">
            <div id="minimize">
                <i class="fa-sharp fa-solid fa-minus"></i>
            </div>
        </div>
    </div>
    <ul id="chat-container">
        <li class="other-msg">
        </li>
        <li class="self-msg">
        </li>
    </ul>
    <div id="inp-container">
        <input placeholder="Type here..." id="inp">
        <div id="send"><i id="btn" class="fa-solid fa-paper-plane"></i></div>
    </div>
</div>

<script> new ChatEngine('chat-box',' <%= user._id %>')</script>
<script src="<%= assetsPath('js/chat_box.js') %>"></script>

