<link rel="stylesheet" type="text/css" href="<%= assetsPath('css/home.css') %>">
<link rel="stylesheet" type="text/css" href="<%= assetsPath('css/_asideLeft.css') %>">
<link rel="stylesheet" type="text/css" href="<%= assetsPath('css/_asideRight.css') %>">
<link rel="stylesheet" type="text/css" href="<%= assetsPath('css/chat_box.css') %>">


<%- include('_asideLeft') %>
<main id="main">
    <section id="my-feeds">
        <div id="story-box">
            <div id="story-header">
                <div class="text" style="border-bottom: 4px solid #1877F2;">
                    <h3>Stories</h3>
                </div>
                <div class="text">
                    <h3>Reels</h3>
                </div>
                <div class="text">
                    <h3>Rooms</h3>
                </div>

            </div>
            <hr>
            <div id="all-stories">
                <div class="user-story-box" >
                    <div class="user-story" style="height:75%; border-radius: 10px 10px 0 0; border-bottom: 1px solid lightgray;" >
                        <img src="<%= user.avatar %>" style="border-radius: 10px 10px 0 0;" alt="<%= user.first %>">
                    </div>
                    <div id="create-story">
                         <div id="story-text">
                            <span>Create story</span>
                         </div>
                         <div id="icon">
                            <i class="fa-solid fa-plus"></i>
                         </div>
                    </div> 
                </div>
                <% for (list of users) { %>
                    <% if(locals.user.id != list.id) { %>
                        <% for(frnds of locals.user.friends){ %>
                            <% if(frnds == list.id) { %>
                                <div class="user-story-box">
                                    <div class="user-story" >
                                        <img  src="<%= assetsPath('images/pic2.jpg') %>">
                                    </div>
                                    <div class="user-img">
                                        <img src="<%= list.avatar %>" alt="<%= list.first %>">
                                    </div>
                                </div>
                            <% } %>
                        <% } %>
                    <% } %>   
                <% } %>

            </div>

        </div>
        <div id="form-box">
            <% if(locals.user){ %>
                <div id="form-inner">
                    <div id="my-img">
                        <img src="<%=user.avatar %>" alt="<%= user.first %>">
                    </div>
                    <div id="main-form">
                        <form action="/post/create" id="post-form" method="post">
                            <textarea id="textarea" type="text" name="content" placeholder="Whats's on your mind, <%= user.first %>" required cols="50" rows="1"></textarea>
                            <input id="post-btn" type="submit" value="Post">
                        </form> 
                    </div> 
                </div>
                <hr>
                <div id="add-status">
                    <div id="inner-status">
                        <div class="status-box">
                            <div class="status-logo">
                                <img src="<%= assetsPath('icons/live.png') %>" >
                            </div>
                            <div class="status-text">
                                <span>Live video</span>
                            </div>
                        </div>
                        <div class="status-box">
                            <div class="status-logo">
                                <img src="<%= assetsPath('icons/gallery.png') %>" >
                            </div>
                            <div class="status-text">
                                <span>Photo/video</span>
                            </div>
                        </div>
                        <div class="status-box">
                            <div class="status-logo">
                                <img src="<%= assetsPath('icons/smile.png') %>" >
                            </div>
                            <div class="status-text">
                                <span>Feeling/activity</span>
                            </div>
                        </div>
                    </div>    
                </div>
            <% } %>
        </div>
        
        <div id="post-box">
            <% for(post of posts) { %>
                <% if(locals.user.id == post.user.id) { %>
                    <%- include('_post') -%>
                <% } %>   
                <% for(frnds of locals.user.friends){ %>
                    <% if(frnds == post.user.id) { %>
                        <%- include('_post') -%>
                    <% } %>
                <% } %>     
            <% } %>    
        </div>
    </section>
     

</main>
<%- include('_asideRight') %>

<script src="<%= assetsPath('js/home_post.js') %>"></script>
<script src="<%= assetsPath('js/index.js') %>"></script>
<script src="<%= assetsPath('js/chat_engine.js') %>"></script>

<script>
    $(' .toggle-like').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    })
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.3/socket.io.js"></script>


