<link rel="stylesheet" type="text/css" href="/css/home.css">
<main>
    <section id="my-links">
       <div class="common-box">
            <div id="profile">
                <img src="<%=user.avatar %>" alt="<%= user.first %>">
            </div>
            <div id="name">
                <h4><%= user.first + ' ' + user.last%></h4>
            </div>
       </div>
       <div class="common-box"></div>
       <div class="common-box"></div>
       <div class="common-box"></div>
       <div class="common-box"></div>
       <div class="common-box"></div>

       
    </section>
    <section id="my-feeds">
        
        <div id="form-box">
            <% if(locals.user){ %>
                <div id="my-img">
                    <img src="<%=user.avatar %>" alt="<%= user.first %>">
                </div>
                <div>
                    <form action="/post/create" id="post-form" method="post">
                        <textarea id="textarea" type="text" name="content" placeholder="Whats's on your mind, <%= user.first %>" required cols="45" rows="1"></textarea>
                        <input id="post-btn" type="submit" value="Post">
                    </form>
                   
                </div>
            <% } %>
            
        </div>
        <div id="post-box">
            <% for(post of posts) { %>
                <%- include('_post') -%>
            <% } %>    
        </div>
    </section>
    <section id="friends-list">
        <div id="friends-logo">
            <h3>Friends</h3>
        </div>
        <% for(list of users) { %>
            <% if(locals.user.id != list.id) { %>
                <div id="friends">
                    <div id="friends-img">
                        <img src="<%= list.avatar%>">
                    </div>
                    
                    <p><a href="/home/profile/<%= list.id %>"><%= list.first + ' ' + list.last %></a></p>
                </div>
            <% } %>

        <% } %>
    </section>    

</main>
<script src="/js/home_post.js"></script>