<link rel="stylesheet" type="text/css" href="/css/home.css">
<main id="main">
    <section id="my-links">
        <div class="links-container">
            <ul>
                <li>
                    <div class="link-logo" >
                        <img src="<%=user.avatar %>" alt="<%= user.first %>">
                    </div>
                    <div class="link-name">
                        <h4><%= user.first + ' ' + user.last%></h4>
                    </div>
                </li>
                <li>
                    <div class="link-logo">
                        <img src="https://static.xx.fbcdn.net/rsrc.php/v3/y8/r/S0U5ECzYUSu.png" alt="<%= user.first %>">
                    </div>
                    <div class="link-name">
                        <h4>Friends</h4>
                    </div>
                </li>
                <li>
                    <div class="link-logo">
                        <img src="https://static.xx.fbcdn.net/rsrc.php/v3/y5/r/PrjLkDYpYbH.png" alt="<%= user.first %>">
                    </div>
                    <div class="link-name">
                        <h4>Groups</h4>
                    </div>
                </li>
                <li>
                    <div class="link-logo">
                        <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yU/r/D2y-jJ2C_hO.png" alt="<%= user.first %>">
                    </div>
                    <div class="link-name">
                        <h4>Marketplace</h4>
                    </div>
                </li>
                <li>
                    <div class="link-logo">
                        <img src="https://static.xx.fbcdn.net/rsrc.php/v3/y5/r/duk32h44Y31.png" alt="<%= user.first %>">
                    </div>
                    <div class="link-name">
                        <h4>Watch</h4>
                    </div>
                </li>
                <li>
                    <div class="link-logo">
                        <img src="https://static.xx.fbcdn.net/rsrc.php/v3/y8/r/he-BkogidIc.png" alt="<%= user.first %>">
                    </div>
                    <div class="link-name">
                        <h4>Memories</h4>
                    </div>
                </li>
                <li>
                    <div class="link-logo"  style="cursor: pointer; background-color: rgba(0,0,0,0.1); display: flex; justify-content: center; align-items: center;">
                        <i class="fa-solid fa-caret-down" id="arrow"></i>
                    </div>
                    <div class="link-name">
                        <h4>See more</h4>
                    </div>

                </li>
            </ul>
            <div id="hidden-container">
                <ul>
                    <li>
                        <div class="link-logo">
                            <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/CwKNCefmHON.png" alt="<%= user.first %>">
                        </div>
                        <div class="link-name">
                            <h4>Watch</h4>
                        </div>

                    </li>
                    <li>
                        <div class="link-logo">
                            <img src="https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/DHBHg9MEeSC.png" alt="<%= user.first %>">
                        </div>
                        <div class="link-name">
                            <h4>Watch</h4>
                        </div>

                    </li>
                    <li>
                        <div class="link-logo">
                            <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yZ/r/CpdWrf1nzR2.png" alt="<%= user.first %>">
                        </div>
                        <div class="link-name">
                            <h4>Watch</h4>
                        </div>

                    </li>
                    <li>
                        <div class="link-logo">
                            <img src="https://static.xx.fbcdn.net/rsrc.php/v3/y3/r/Jr0q8qKF2-Y.png" alt="<%= user.first %>">
                        </div>
                        <div class="link-name">
                            <h4>Watch</h4>
                        </div>

                    </li>
                    <li>
                        <div class="link-logo">
                            <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yN/r/9s7nhm949yb.png" alt="<%= user.first %>">
                        </div>
                        <div class="link-name">
                            <h4>Watch</h4>
                        </div>

                    </li>
                    <li>
                        <div class="link-logo">
                            <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/5rR6LRpNc5u.png" alt="<%= user.first %>">
                        </div>
                        <div class="link-name">
                            <h4>Watch</h4>
                        </div>

                    </li>
                    <li>
                        <div class="link-logo">
                            <img src="https://static.xx.fbcdn.net/rsrc.php/v3/y5/r/vxMUnHhu6Do.png" alt="<%= user.first %>">
                        </div>
                        <div class="link-name">
                            <h4>Watch</h4>
                        </div>

                    </li>
                    <li>
                        <div class="link-logo">
                            <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yr/r/qfMB40PdgWb.png" alt="<%= user.first %>">
                        </div>
                        <div class="link-name">
                            <h4>Watch</h4>
                        </div>

                    </li>
                    <li>
                        <div class="link-logo">
                            <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yK/r/mAnT0r8GSOm.png" alt="<%= user.first %>">
                        </div>
                        <div class="link-name">
                            <h4>Watch</h4>
                        </div>

                    </li>
                    <li>
                        <div class="link-logo">
                            <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yj/r/n2vd2VduYc1.png" alt="<%= user.first %>">
                        </div>
                        <div class="link-name">
                            <h4>Watch</h4>
                        </div>

                    </li>
                    <li>
                        <div class="link-logo">
                            <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yJ/r/fGWbDwbx9W4.png" alt="<%= user.first %>">
                        </div>
                        <div class="link-name">
                            <h4>Watch</h4>
                        </div>

                    </li>
                    <li>
                        <div class="link-logo">
                            <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yK/r/BNA7dRpTdeH.png" alt="<%= user.first %>">
                        </div>
                        <div class="link-name">
                            <h4>Watch</h4>
                        </div>

                    </li>
                    <li>
                        <div class="link-logo">
                            <img src="https://static.xx.fbcdn.net/rsrc.php/v3/y5/r/4Y9Xi2D3hJv.png" alt="<%= user.first %>">
                        </div>
                        <div class="link-name">
                            <h4>Watch</h4>
                        </div>

                    </li>
                </ul>

            </div>
            <hr>
        </div>
        
        <div class="links-container">
            <ul>
                <li>
                    <div class="link-name">
                        <h4>Your shortcuts</h4>
                    </div>
                </li>
            </ul>
            
        </div>
    </section>
    <section id="my-feeds">
        
        <div id="form-box">
            <% if(locals.user){ %>
                <div id="my-img">
                    <img src="<%=user.avatar %>" alt="<%= user.first %>">
                </div>
                <div>
                    <form action="/post/create" id="post-form" method="post">
                        <textarea id="textarea" type="text" name="content" placeholder="Whats's on your mind, <%= user.first %>" required cols="45" rows="1"></textarea>
                        <input id="post-btn" type="submit" value="Post">
                    </form>
                   
                </div>
            <% } %>
            
        </div>
        <div id="post-box">
            <% for(post of posts) { %>
                <%- include('_post') -%>
            <% } %>    
        </div>
    </section>
    <section id="friends-list">
        <div id="friends-logo">
            <h3>Friends</h3>
        </div>
        <% for(list of users) { %>
            <% if(locals.user.id != list.id) { %>
                <div id="friends">
                    <div id="friends-img">
                        <img src="<%= list.avatar%>">
                    </div>
                    
                    <p><a href="/home/profile/<%= list.id %>"><%= list.first + ' ' + list.last %></a></p>
                </div>
            <% } %>

        <% } %>
    </section>    

</main>
<script src="/js/home_post.js"></script>
<!-- <script src="/js/index.js"></script> -->
