<link rel="stylesheet" type="text/css" href="/css/profile.css">


<div id="user_profile">
    <div id="profile">
        <div id="my-img">
            <img src="<%= thatUser.avatar %>" alt="<%= thatUser.first %>">
        </div>

    </div>
    <div id="name">
        <h2><%= thatUser.first + ' ' + thatUser.last %>
            <% if(locals.user.id == thatUser.id){ %>
                <sup ><i class="fa-solid fa-pen-to-square" id="edit-btn"></i></sup> 
            <% } %>
        </h2>
        <% if(locals.user.id == thatUser.id){ %>
            <div id="edit">
                <form action="/change/<%= thatUser.id %>" enctype="multipart/form-data" method="post">
                    <input id="inp" type="text" name = "first" value="<%= thatUser.first  %>" required >
                    <input id="inp" type="text" name = "last" value="<%= thatUser.last  %>" required >
                    <input id= "inp" type="file" name = "avatar" >
                    <input id="btn" type="submit" value="Update">
                </form>
            </div>
        <% } %>
    </div>
    <div id="about">
        <div>
            <img width="25" src="/icons/home (1).png">
            <span><%= thatUser.email %></span>
        </div>
        <div>
            <img width="25" src="/icons/smartphone.png">
            <span>8566848794</span>
        </div>
        
    </div>

</div>


<script src="/js/index.js"></script>