<link rel="stylesheet" type="text/css" href="<%= assetsPath('css/profile.css') %>">


<div id="user_profile">
    <div id="profile">
        <div id="my-img2">
            <% if(thatUser.avatar2) { %>
                <img src="<%= thatUser.avatar2 %>" alt="<%= thatUser.first %>">
            <% } else { %> 
                <img src="https://www.oseyo.co.uk/wp-content/uploads/2020/05/empty-profile-picture-png-2-281x300.png" alt="<%= thatUser.first %>">
            <% } %>
        </div>        
        <div id="my-img">
            <% if(thatUser.avatar) { %>
                <img src="<%= thatUser.avatar %>" alt="<%= thatUser.first %>">
            <% } else { %>
                <img src="https://www.oseyo.co.uk/wp-content/uploads/2020/05/empty-profile-picture-png-2-281x300.png" alt="<%= thatUser.first %>">
            <% } %>
            <div id="status"></div>
            
        </div>
        <% if(locals.user.id == thatUser.id){ %>
            <sup><i class="fa-solid fa-pen-to-square" id="edit-btn1"></i></sup> 
            <div id="edit1" class="edit" >
                <form action="/change2/<%= thatUser.id %>" enctype="multipart/form-data" method="post">
                    <input id= "inp" type="file" name = "avatar2" >
                    <input id="btn"  type="submit" value="Update">
                </form>
            </div>
        <% } %> 

    </div>
    <div id="name">
        <h2><%= thatUser.first + ' ' + thatUser.last %>
            <% if(locals.user.id == thatUser.id){ %>
                <sup ><i class="fa-solid fa-pen-to-square "  id="edit-btn2"></i></sup> 
            <% } %>
        </h2>
        <% if(locals.user.id == thatUser.id){ %>
            <div id="edit2" class="edit2">
                <form action="/change/<%= thatUser.id %>" enctype="multipart/form-data" method="post">
                    <input id="inp" type="text" name = "first" value="<%= thatUser.first  %>" required >
                    <input id="inp" type="text" name = "last" value="<%= thatUser.last  %>" required >
                    <input id= "inp" type="file" name = "avatar" >
                    <input id="btn" type="submit" value="Update">
                </form>
            </div>
        <% } %>
    </div>
    <div id="about">
        <div>
            <img width="25" src="<%= assetsPath('icons/home (1).png') %>">
            <span><%= thatUser.email %></span>
        </div>
        <div>
            <img width="25" src="<%= assetsPath('icons/smartphone.png') %>">
            <span>8566848794</span>
        </div>
        
    </div>

</div>


